
<section class="aboutus" id="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      
          <h2>About me</h2>
      
      </div>
    </div>
    <div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right media"><img src="/Assets/images/Pic.jfif7.jpeg"
          alt="user photo"></div>
      <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left media">
        <p> Hey! My name is <b>Fatemeh Ebrahimi</b>.I am currently seeking job opportunities in the field of Microwave Transmission Engineering or Software Engineering.
        I hold a Master's degree in Telecom Engineering and possess 11 years of professional experience as a Transmission Engineer, having worked with prominent companies
        such as Huawei, Ericsson, and MTNI Irancell. 
          
        </p>
    
        <p><a role="button" href="/Assets/images/Fatemeh Ebrahimi Resume.pdf" download="Jay Resume"
            class="btn btn-primary btn-lg">Resume</a></p>
      </div>

    </div>
  </div>
</section>
